*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    align-items:center;
}

.img-container{
    width: 400px;
    height: 400px;
    position: relative;
}

img{
    max-width: 100%;
}

.fa-solid.fa-circle-right{
    margin-left: -60px;
    font-size: 50px;
    color: rgb(255, 0, 0);
    position: absolute;
}

.fa-solid.fa-circle-left{
    font-size: 50px;
    color: rgb(255, 0, 0);
    position: absolute;
    top:50%;
    left:5px;
}
